<section class="service-content">
  <h2>事業内容</h2>
  <h4>VCが運営する事業を紹介します。</h4>
  <a href="/service-content#v-talk" class="service-content-one">
    <%= image_tag 'v-talk.png' %>
  </a>
  <a href="/service-content#v-meat" class="service-content-one">
    <%= image_tag 'v-meet.png' %>
  </a>
  <a href="/service-content#v-cook" class="service-content-one">
    <%= image_tag 'v-cook.png' %>
  </a>
  <a href="/service-content#v-choice" class="service-content-one">
    <%= image_tag 'v-choice.png' %>
  </a>
  <%= image_tag '' %>
  <%= image_tag '' %>
</section>