<body>

<%= render 'sessions/header' %>

<section class="vision">
  <h2>Vision</h2>
  <p>
    Visionとは、私たちVC(Japanese Vegans’ Community)の目指す未来像であり、VCが存在する目的であり、
    VCに加入するメンバーとVCで働くスタッフメンバーが共に掲げ、共に創り上げてゆく理想の社会を表しています。
  </p>
  <h4>今、そして未来も、誰もが笑顔でいられる社会</h4>
  <h5>「今、そして未来も」</h5>
  <p>
    <p>
      今だけではなく、未来の世代や地球を思う心と行動を大切にすることを表しています。<br>
      そして同時に、未来だけではなく、今を生きる一人ひとりが笑顔でいられる暮らしの実現を目指しています。
    </p>

  <h5>「誰もが」</h5>
  <p>
    自分一人の利益ではなく、他者を思いやる心と行動を大切にすることを表しています。<br>
    また「誰もが」には、自分はもちろん、世界中の人々や動物、植物を含んだ地球の上で生きる者を包含しています。
  </p>
</section>

<section class="mission">
  <h2>Mission</h2>
  <p>
    Missionとは、Visionを実現する為にVCが果たすべき使命であり、
    メンバーとスタッフメンバーが共に歩む指針でもあります。<br>
    私たちの使命は、時代と共に移りゆくものであります。<br>
    まず、第一の使命として、次の1st Missionを掲げます。<br>
  </p>
  <h3>笑顔溢れるVegan Lifeを共創する。</h3>
  <h5>「Vegan Life(優しい暮らし)」</h5>
  <p>
  <p>
    Visionを達成するためには、人々が他者・未来を思いやる心を持ち、それに基づく行動を取る事が大切であり、
    そのような暮らしの一つであるVeganというライフスタイルを優しい暮らしと表現し、焦点を当てています。
  </p>

  <h5>「共創する」</h5>
  <p>
    「笑顔溢れるVegan Life」を誰もが過ごすことのできる日本を一人ひとりが手を結び、共に創っていくことを大切にします。
    一人ひとりの力を合わせることで大きな力となり、優しい経済活動を通して未来まで続く優しい日本社会を創ります。
  </p>
</section>

<section class="value">
  <h2>Value</h2>
  <p>
    VCが組織を経営し、事業を運営していく上で大切にする3つの価値観を紹介します。
    また、VCのスタッフメンバー、メンバーへも大切にすることを要求します。
  </p>
  <h4>一、思いやりの精神</h4>
  <p>他者を理解しようと努力し、幸福を願う心を持つことを大切にします。
    ここでの他者には、全ての今を生きる人々、未来に生きる人々、そして動物が含まれています。
  </p>
  <h4>二、優しい経済活動</h4>
  <p>
    思いやりの精神を持ち、それに基づいた行動として、優しい経済活動を大切にします。<br>
    優しい経済活動とは、自身の経済活動が及ぼす他者への影響を考慮した生産、または消費行動です。
  </p>
  <h4>三、自己の幸せの追求</h4>
  <p>一人ひとりが豊かな暮らしを実現し、幸せであることを大切にします。
    他者との関わりや、自己実現など、多種多様な幸福の形を尊重し、追求します。
  </p>

</section>

<section class="how-it-works">
  <h2>VCの仕組み</h2>
  <p>
    VCはVisionの達成のために、数多くのメンバーから構成される組織です。<br>
    メンバーの一人ひとりが主人公となり、メンバーの為の非営利の事業を運営します。
  </p>
  <%= image_tag 'how-it-works.png' %>
  <h4>「メンバーによる、メンバーの為の組織」</h4>
  <p>
    VCは、加入するメンバーの願いを実現する為のコミュニティです。<br>
    また、VCに加入するメンバーによって、メンバ〜の願いを実現するために事業を運営します。
  </p>
  <h4>「一人ひとりのメンバーが主人公」</h4>
  <p>
    一人ひとりのメンバーが、出資・運営・利用の全てを担います。加入時に全メンバーが出資し、様々な事業の運営に参加、利用する事ができます。<br>
    全メンバーと共に進んでけるよう、制度としても組み込まれています。
  </p>
</section>

<section class="history">
  <h2>VCのこれまで</h2>
  <p>
    VCは2018年から始まった新たな時代の組織の歴史を紹介します。
  </p>
  <h4>2018年4月</h4>
  <p>
    日本ヴィーガンコミュニティ(Japanese Vegans’ Community)設立
  </p>
  <h4>2018年6月</h4>
  <p>
    V-Meet開始<br>
    メンバー募集開始
  </p>
  <h4>2018年7月</h4>
  <p>V-Cook開始</p>
</section>

<section class="service-content">
  <h2>事業内容</h2>
  <h4>VCが運営する事業を紹介します。</h4>

  <%= image_tag 'v-meet.png' %>
  <%= image_tag 'v-cook.png' %>
  <%= image_tag 'v-choice.png' %>
  <%= image_tag '' %>
  <%= image_tag '' %>
</section>

<section class="admission-flow">
  <h2>入会の流れ</h2>
  <h4>VCは、希望者全員が入会することができます。<br>
    VCメンバーになるメリットと流れを紹介します。
  </h4>
  <div class="merit">
    <h5>メンバーになる3つのメリット</h5>
    <%= image_tag 'merit_1.png' %>
    <%= image_tag 'merit_2.png' %>
    <%= image_tag 'merit_3.png' %>
  </div>

  <div class="member-flow">
    <h5>メンバーになる流れ</h5>
    <%= image_tag 'step_1.png' %>
    <%= image_tag 'right-arrow.png', class: "right-arrow" %>
    <%= image_tag 'step_2.png' %>
    <%= image_tag 'right-arrow.png', class: "right-arrow" %>
    <%= image_tag 'step_3.png' %>
    <%= image_tag 'right-arrow.png', class: "right-arrow" %>
    <%= image_tag 'step_4.png' %>
  </div>

  <div class="num-members">
    <p>現在のメンバー数</p>
    <p>1</p>
  </div>
</section>

<section class="greeting">
  <h2>代表の挨拶</h2>
  <%= image_tag 'greeting-photo.png' %>
  <p>
    高校三年生の秋に、“ぺちゃんこの猫”を見たことがきっかけに、多くの事実を知りヴィーガンになりました。<br>
    それから数ヶ月後、あるヴィーガンフェスティバルに参加して多くのベジタリアンやヴィーガンの人々と出会いました。彼らは、他者や未来のことを思いやる心を持ち、実際に行動するとても優しい人達でした。しかし、ヴィーガンであるからこそ友人を失ったり、普段の生活に不便を感じている人が少なくありませんでした。<br>
    平和な世界を実現する為には、今を生きる人々が他者や未来への思いやりの心を持って行動することが必要ですが、そのような優しい人が、優しいが故に笑顔で暮らせていないことに大きな違和感を抱きました。<br>
    このような思いから、VCでは平和な世界を志す多くの仲間と協同し、「笑顔溢れるVegan Lifeを共創する」ことを1st Missionに掲げ、「今、そして未来も、誰もが笑顔でいられる社会」を最短距離で創ることを目指します。
  </p>
</section>

</body>